<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>babagge</title>
</head>
<body>
    <h1>Babagge</h1>
    <img src="img/babagge.jpg" alt="foto de babbage">
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi, similique. Similique quasi nesciunt alias odio iure perferendis veniam voluptate, debitis possimus. Suscipit iure, unde in nemo repudiandae est autem amet.</p>
</body>
</html>