<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>clarke</title>
</head>
<body>
    <h1>Clarke</h1>
    <img src="img/clarke.jpg" alt="foto de Clarke">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Autem qui, quos repudiandae suscipit nihil non, beatae deserunt delectus, esse et adipisci ducimus sunt nesciunt odit illo cum. Fugit, excepturi consequuntur!</p>
</body>
</html>