<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>home</title>
</head>
<body>
    <h1>Home - Heroes</h1>
    <img src="img/heroes.jfif" alt="foto de los heroes de la programacion">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed aut ducimus iusto optio accusamus sequi non facilis, debitis sapiente ratione autem adipisci molestiae deserunt totam laudantium dolores officia soluta quae.</p>
</body>
</html>